.dialog-title{
  text-align: center;
}

.done-icon{
  width: 100px;
  height: 100px;
  color: #7ed221;
  font-size: 100px;
  text-align: center;
}

.mat-typography{
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 30px;
}
