<mat-toolbar>
  <div class="toolbar-container">
    <button mat-raised-button color="primary" routerLink="/">
      <mat-icon class="material-icons-round md-36">chevron_left</mat-icon>  Listeye Dön
    </button>

    <span class="spacer"></span>
    <span>Case Study</span>
    <span class="spacer"></span>

    <button mat-raised-button color="primary" routerLink="/create">
      <mat-icon class="material-icons-round md-36">add</mat-icon>  Yeni Kayıt
    </button>
  </div>
</mat-toolbar>


<div class="app-container">
  <app-video-create-form></app-video-create-form>
</div>


